In [2]:
import pandas as pd
sent = pd.read_csv("dataset/sentiment_result.csv")
nifty = pd.read_csv("dataset/nse_nifty50.csv")
sensex = pd.read_csv("dataset/bse_sensex.csv")

In [10]:
nse_combine = pd.merge(sent, nifty[['Date','Open','High','Low','Close','Volume']], on='Date')
nse_combine.head()

,Date,compound,neg,neu,pos,Open,High,Low,Close,Volume
0,2007-01-02,0.9714,0.035,0.896,0.069,3966.25,4016.65,3964.95,4007.40,40789960
1,2007-01-03,-0.3111,0.054,0.886,0.060,4007.70,4029.80,3985.00,4024.05,63826475
2,2007-01-04,0.1280,0.070,0.853,0.077,4027.30,4041.00,3979.80,3988.80,67096186
3,2007-01-05,-0.9110,0.054,0.902,0.044,3990.15,4011.45,3969.65,3983.40,69146575
4,2007-01-08,0.9815,0.038,0.886,0.076,3983.30,3987.45,3913.00,3933.40,63615668

In [15]:
nse_combine.to_csv('dataset/nifty_complete.csv')

In [3]:
bse_combine = pd.merge(sent, sensex[['Date','Open','High','Low','Close','Volume']], on='Date')
bse_combine.head()

,Date,compound,neg,neu,pos,Open,High,Low,Close,Volume
0,2007-01-02,0.9714,0.035,0.896,0.069,13827.769531,13980.540039,13797.440430,13942.240234,9600.0
1,2007-01-03,-0.3111,0.054,0.886,0.060,13969.450195,14035.669922,13897.419922,14014.919922,11600.0
2,2007-01-04,0.1280,0.070,0.853,0.077,14029.040039,14060.349609,13850.379883,13871.709961,14600.0
3,2007-01-05,-0.9110,0.054,0.902,0.044,13768.790039,13971.820313,13763.389648,13860.519531,13200.0
4,2007-01-08,0.9815,0.038,0.886,0.076,13855.889648,13855.889648,13599.870117,13652.150391,11600.0

In [4]:
bse_combine.to_csv("dataset/sensex_complete.csv")